<div class="center">
  <div class="col-md-1">
  </div>
  <div class="col-md-12">
      <div id="Ranking" class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">  <b>Deaths Reasons</b> </div>
            <table class="table table-striped">
              <tr>
               <th class="col-md-8">Death Reason</th>
               <th class="col-md-4">Times</th>
              </tr>
                <% @ranking_deaths_reasons.each do |key, value| %>
                <tr>
                  <td> <%= key %></td>
                  <td class="text-center"><%= value %></td>
                </tr>
              <% end %>
            </table>
        </div>
      </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
