<div class="hidden-md-down title-box">
  <div class="row">
    <h2 class="color-font center text-center title">Quake 3 Log Report </h2>
  </div>
</div>

<div class="center">
  <div class="col-md-1">
    <button type="button" onclick="callBefore()" class="btn btn-primary"><</button>
  </div>
  <div class="col-md-10">
    <% @matches.each do |match| %>
        <div id="<%= match.name %>" class="col-md-12 hide">
          <div class="panel panel-default">
            <div class="panel-heading"> <b>Match: </b> <%= match.name %> | <b>Start Game: </b><%= match.start_game %>  | <b>End Game: </b><%= match.end_game %> | <b>Total kills: </b> <%= match.sum_kills %></div>
              <table class="table table-striped">
                <tr>
                 <th class="col-md-7">Name</th>
                 <th class="col-md-1">Kills</th>
                 <th class="col-md-1">Deaths</th>
                 <th class="col-md-1">Suicides</th>
                 <th class="col-md-1">K/D</th>
                 <th class="col-md-1">Score</th>
                </tr>
                <% match.players.each do |player| %>
                  <tr>
                    <td><%= player.name %></td>
                    <td class="text-center"> <%= player.kills.size %></td>
                    <td class="text-center"><%= player.killed_by.size %></td>
                    <td class="text-center"><%= player.suicides %></td>
                    <td class="text-center"><%= player.kills_death_ratio %></td>
                    <td class="text-center"><%= player.player_score %></td>
                  </tr>
                <% end %>
              </table>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col-md-1">
    <button type="button" onclick="callForward()" class="btn btn-primary">></button>
  </div>
</div>

<%= erb :"_ranking_of_players" %>
<%= erb :"_ranking_of_deaths_reasons" %>

<script type="text/javascript">
 var currentGame = 1;
 var games_size = <%= @matches.size %>;
  $(document).ready(function() {
    $("#game_1").removeClass("hide");
  });

  function callBefore(){
    if(currentGame > 1){
      $("#game_" + currentGame).addClass("hide");
      currentGame -= 1;
      $("#game_" + currentGame).removeClass("hide");
    }
  }
  function callForward(){
    if(currentGame < games_size){
      $("#game_" + currentGame).addClass("hide");
      currentGame += 1;
      $("#game_" + currentGame).removeClass("hide");
    }
  }
</script>
